{% extends "MetricsBundle::templates/default-widget.html.twig" %}

{% block widget_body %}
    <span id="widget-value-{{ widget.id }}" style="font-size:11px">
        <table>
            <tr><td><i class="fa fa-circle"></i> <a>###-#######</a> &nbsp;&nbsp;&nbsp;&nbsp;<i>################</i></td></tr>
            <tr><td><i class="fa fa-circle"></i> <a>###-#######</a> &nbsp;&nbsp;&nbsp;&nbsp;<i>################</i></td></tr>
            <tr><td><i class="fa fa-circle"></i> <a>###-#######</a> &nbsp;&nbsp;&nbsp;&nbsp;<i>################</i></td></tr>
            <tr><td><i class="fa fa-circle"></i> <a>###-#######</a> &nbsp;&nbsp;&nbsp;&nbsp;<i>################</i></td></tr>
            <tr><td><i class="fa fa-circle"></i> <a>###-#######</a> &nbsp;&nbsp;&nbsp;&nbsp;<i>################</i></td></tr>
        </table>
    </span>

    <div class="widget-footer-line">
        <span id="widget-link-{{ widget.id }}" style="font-size: 12px">
            <a><i class="fa fa-arrow-circle-right"></i> More info</a>
        </span>
    </div>
{% endblock %}

{% block script %}
    <script>
        addDataRequest('{{ path('JiraListWidgetBundle-collect-data') }}'
            , {id:{{ widget.id }}, type:'{{ widget.type }}', updateInterval:{{ widget.updateInterval }}}
            , function (data) {
            var response = JSON.parse(data);

            // Set warning
            if (response['warning']) {
                var value = '<div class="widget-value-warning"><i class="fa fa-warning"></i> '
                + response['warning'] + '</div>';
                $('#widget-value-{{ widget.id }}').html(value);
                $('#widget-link-{{ widget.id }}').html('');
                return;
            }

            if (response['value']) {
                $('#widget-value-{{ widget.id }}').html(response['value']);
            }

            // More info link
            if (response['link'] != undefined) {
                $('#widget-link-{{ widget.id }}').html(
                    '<a href="' + response['link']
                    + '" target="_blank"><i class="fa fa-arrow-circle-right"></i> More info '
                    + '</a>'
                );
            }

            // Badge with total number of issues
            if (response['total'] != undefined) {
                $('#widget-title-suffix-{{ widget.id }}').html(
                    '<span style="text-shadow: none; font-size: 10px" class="badge">' + response['total'] + '</span>'
                );
                if (response['total']==0) {
                    $('#widget-value-{{ widget.id }}').html('<i>No items found</i>');
                }
            }
        });
    </script>
{% endblock %}