<div class="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <!-- Links at first column -->
                <h5>SITE</h5>
                <a href="{{ path("login") }}">Login</a><br/>
                <a href="{{ path("imprint") }}">Imprint</a><br/>
                <a href="{{ path("contact") }}">Contact us</a><br/>
            </div>
            <div class="col-sm-4">
                <!-- Links at second column -->
                <h5>INFO</h5>
                <a href="{{ path("about") }}">About this website</a><br/>
            </div>
            <div class="col-sm-4">
                <!-- Links at third column -->
                <h5>SOCIAL</h5>
                <a href="" target="_blank" alt="RSS-Feed" title="RSS-Feed"><i class="fa fa-rss-square fa-3x"></i></a>
                <a href="" target="_blank" alt="Facebook" title="Facebook"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a href="" target="_blank" alt="Twitter" title="Twitter"><i class="fa fa-twitter-square fa-3x"></i></a>
                <a href="" target="_blank" alt="Google+" title="Google+"><i class="fa fa-google-plus-square fa-3x"></i></a>
                <a href="" target="_blank" alt="Xing" title="Xing"><i class="fa fa-xing-square fa-3x"></i></a>
                <a href="" target="_blank" alt="LinkedIn" title="LinkedIn"><i class="fa fa-linkedin-square fa-3x"></i></a>
            </div>
        </div>
    </div>
</div>
<div id="copyright-footer">
    <small>{{ platform.name }} V{{ platform.version }} Copyright (c) {{ "now"|date("Y") }} by {{ platform.vendor }}</small>
</div>