{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('bundles/metrics/css/default.css') }}" rel="stylesheet">
    <!-- individual page stylesheets -->
    <link rel="stylesheet" href="{{ asset('bundles/customtimelinewidget/css/default.css') }}"> <!-- Resource style -->
    {% block css %}{% endblock %}
{% endblock %}
{% block body %}

    <!-- Navigation -->
    {% include 'MetricsBundle::navi.html.twig' %}

    <!-- Content -->
    <div id="content-block" class="page-container">
        {% block content %}Content{% endblock %}
    </div>

    <!-- Scroll to top -->
    <a href="#top" id="toTop" class="well-sm" alt="Scroll to top" title="Scroll to top">
        <span class="glyphicon glyphicon-circle-arrow-up"></span>
    </a>

    <!-- Footer -->
    {% include 'MetricsBundle::footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    <!-- Sparkline js -->
    <script src="{{ asset('js/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('js/raphael.min.js') }}"></script>
    <script src="{{ asset('js/morris.min.js') }}"></script>
    <script src="{{ asset('js/screenfull.min.js') }}"></script>
    <!-- Custom js -->
    <script src="{{ asset('bundles/metrics/js/default.js') }}"></script>
    {%- if is_granted("ROLE_EDITOR") %}{{ editor_init() }}{% endif %}
    <script>
        // set global ajax timeout
        $.ajaxSetup({
            timeout: 9000
        });

        $(document).ready(function() {
            if (core.isTouchDevice() == false)
            {
                /*
                $("body").tooltip({
                    selector: '[data-toggle="tooltip"]',
                    //selector: '[title]',
                    container: 'body',
                    html:true,
                    placement: 'auto top',
                    delay:{ show: 1000, hide: 100 }
                });*/
                $("body").popover({
                    selector: '[data-toggle="popover"]',
                    container: 'body',
                    html:true,
                    trigger: 'hover',
                    //placement: 'auto top',
                    delay:{ show: 1000, hide: 100 }
                });
            }
        });
    </script>

    <!-- individual page java scripts -->
    <script src="{{ asset('bundles/customtimelinewidget/js/default.js') }}"></script>
    {% block js %}{% endblock %}
{% endblock %}