{% block navi %}
    <!-- Navigation bar -->
    <nav id="navigation-block" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-top">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path("home") }}">
                    <img src="{{ asset('dashboard_lg_icon.png') }}" width="20px" height="19px" style="vertical-align:top;"/>
                    {{ platform.name }}
                </a>
            </div>
            <!-- Nav Items -->
            <div class="collapse navbar-collapse" id="bs-navbar-collapse-top">
                <ul id="dashboard-nav-items" class="nav navbar-nav">
                    {% if dashboards is defined %}
                    {% for item in dashboards %}
                        <li data-id="{{ item.id }}" class="dashboard-nav-item{% if item.id == dashboard.id %} navbar-inverse{% endif %}">
                            <a href="{{ path("home", {id: item.id}) }}">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav">
                    <li><a href="{{ path("dashboard_new") }}" id="dashboard-new" style="display: none" title="Add new dashboard"><i class="fa fa-plus"></i></a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Options <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:toggleDashboardEditMode();"><i class="fa fa-arrows fa-fw"></i> Reorganize&nbsp;<span class="badge">e-key</span></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path("dashboard") }}"><i class="fa fa-dashboard fa-fw"></i> Manage Dashboards</a></li>
                            <li><a href="{{ path("widgets") }}"><i class="fa fa-puzzle-piece fa-fw"></i> Manage Widgets</a></li>
                            {%- if app.user %}
                            <li><a href="{{ path("logout") }}"><span class="glyphicon glyphicon-log-out fa-fw"></span> Logout</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}