{% block navi %}
    <!-- Navigation bar -->
    <nav id="navigation-block" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-top">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path("home") }}">
                    <img src="{{ asset('dashboard_lg_icon.png') }}" width="20px" height="19px" style="vertical-align:top;"/>
                    {{ platform.name }}
                </a>
            </div>
            <!-- Nav Items -->
            <div class="collapse navbar-collapse" id="bs-navbar-collapse-top">
                <ul id="dashboard-nav-items" class="nav navbar-nav">
                    {% if dashboards is defined %}
                    {% for item in dashboards %}
                        <li data-id="{{ item.id }}" class="dashboard-nav-item{% if item.id == dashboard.id %} navbar-inverse{% endif %}">
                            <a href="{{ path("home", {id: item.id}) }}">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav">
                    <li><a href="{{ path("dashboard_new") }}" id="dashboard-new" style="display: none" title="Add new dashboard"><i class="fa fa-plus"></i></a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if dashboards is defined %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Dashboard parameter">
                            <i class="ion ion-android-options" style="font-size: 13pt"></i>
                        </a>
                        <ul class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;" role="menu">{% render controller("MetricsBundle:Params:config", { 'id': dashboard.id }) %}</ul>
                    </li>
                    {% endif %}
                    {%- if app.user %}
                    {%- if is_granted("ROLE_ALLOWED_TO_SWITCH") %}
                    <!-- Domain switcher -->
                    <li class="dropdown">
                        <a id="domain-dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Domain">
                            <span class="fa fa-cloud"></span>
                            <span class="hidden-xs hidden-sm hidden-md">{{ app.session.get('domain-name') }}</span>
                        </a>
                        <ul id="domain-dropdown-items" class="dropdown-menu" role="menu">
                            <li><a href="#">Loading <i class="fa fa-refresh fa-spin"></i></a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <!-- My Place Menu -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="My Place">
                            {{ USER_ROLES[app.user.role].icon|raw }}
                            <span class="hidden-xs hidden-sm hidden-md">{{ app.user.firstname }}</span>
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path("myprofile") }}"><span class="glyphicon glyphicon-user fa-fw"></span> My Profile</a></li>
                    {% else %}
                    <!-- Anonymous user -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="My Place">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-xs hidden-sm hidden-md">User</span>
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path("login") }}"><span class="fa fa-user-circle fa-fw"></span> Login ...</a></li>
                            <li role="separator" class="divider"></li>
                    {%- endif %}
                        <li>
                            <a href="javascript:if (screenfull.enabled) {$('#sortable').css('background-color', $('body').css('background-color'));screenfull.toggle($('#sortable')[0])}">
                                <i class="fa fa-television fa-fw"></i> TV - full screen mode
                            </a>
                        </li>
                        <li><a href="javascript:toggleDashboardEditMode();"><i class="fa fa-edit fa-fw"></i> Edit Dashboard&nbsp;<span class="badge">e-key</span></a></li>
                        <li role="separator" class="divider"></li>
                        {%- if aclService.userHasUrlAccess(path("domain")) %}
                            <li><a href="{{ path("domain") }}"><i class="fa fa-cloud fa-fw"></i> Domain Management</a></li>
                        {%- endif %}
                        {%- if aclService.userHasUrlAccess(path("user")) %}
                            <li><a href="{{ path("user") }}"><i class="ion ion-person-stalker fa-fw"></i> User Management</a></li>
                        {%- endif %}
                        {%- if aclService.userHasUrlAccess(path("dashboard")) %}
                            <li><a href="{{ path("dashboard") }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard Management</a></li>
                        {%- endif %}
                        {%- if aclService.userHasUrlAccess(path("widgets")) %}
                            <li><a href="{{ path("widgets") }}"><i class="fa fa-puzzle-piece fa-fw"></i> Widget Management</a></li>
                        {%- endif %}
                        {%- if aclService.userHasUrlAccess(path("jira_core_widget_login_edit")) %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path("jira_core_widget_login_edit") }}"><i class="fa fa-user-circle fa-fw"></i> Jira Credentials</a></li>
                        {%- endif %}
                    {%- if app.user %}
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{{ path("logout") }}"><span class="glyphicon glyphicon-log-out fa-fw"></span> Logout</a>
                        </li>
                    {%- endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
