<div style="overflow-y: scroll; max-height: 300px;">
    {% for item in items %}
    <div style="padding:1px; float:left;">
        <div title="Click or drag to insert [{{ item.filename }}]" class="img-thumbnail" style="padding:1px; background-color:#eeeeee; height:80px; width:80px; display:table-cell; vertical-align: middle; text-align:center; cursor: pointer; cursor: hand;">
            <img id="cm-img-item" alt="{{ item.filename }}" height="{{ item.height }}" width="{{ item.width }}" src="{{ item.src }}" />
        </div>
        <div style="width:100%; text-align:center">
            <div id="{{ item.id }}" class="img-lib-del-button btn btn-xs">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </div>
            <form id="{{ item.id }}-form" class="hidden">
                <input name="filename" type="hidden" value="{{ item.filename }}"/>
                <input name="token" type="hidden" value="{{ item.token }}"/>
            </form>
        </div>
    </div>
    {% endfor %}
    <div class="clearfix"></div>
</div>