{% extends "MetricsBundle::Templates/default-widget.html.twig" %}

{% block widget_body %}
    <span id="widget-value-{{ widget.id }}" style="font-size:11px">
        <table>
            <tr><td><i class="fa fa-circle"></i> <a>###-#######</a> &nbsp;&nbsp;&nbsp;&nbsp;<i>################</i></td></tr>
            <tr><td><i class="fa fa-circle"></i> <a>###-#######</a> &nbsp;&nbsp;&nbsp;&nbsp;<i>################</i></td></tr>
            <tr><td><i class="fa fa-circle"></i> <a>###-#######</a> &nbsp;&nbsp;&nbsp;&nbsp;<i>################</i></td></tr>
            <tr><td><i class="fa fa-circle"></i> <a>###-#######</a> &nbsp;&nbsp;&nbsp;&nbsp;<i>################</i></td></tr>
            <tr><td><i class="fa fa-circle"></i> <a>###-#######</a> &nbsp;&nbsp;&nbsp;&nbsp;<i>################</i></td></tr>
        </table>
    </span>
    <span id="widget-subtext-{{ widget.id }}" class="widget-value-subtext"></span>
{% endblock %}

{% block script %}
    <script>
        addDataRequest('{{ path('JiraHighEffortWidgetBundle-collect-data') }}'
            , {id:{{ widget.id }}, type:'{{ widget.type }}', size: '{{ widget.size }}', updateInterval: {{ widget.updateInterval }}}
            , function (data) {
            var response = JSON.parse(data);

            // Set warning
            if (response['warning']) {
                var value = '<div class="widget-value-warning"><i class="fa fa-warning"></i> '
                        + response['warning'] + '</div>';
                $('#widget-value-{{ widget.id }}').html(value);
                return;
            }

            if (response['value']) {
                $('#widget-value-{{ widget.id }}').html(response['value']);
            }

            if (response['subtext']) {
                $('#widget-subtext-{{ widget.id }}').html(response['subtext']);
            }
        });
    </script>
{% endblock %}