<section id="timeline-{{ id }}" class="cd-horizontal-timeline">
    <div class="timeline">
        <div class="events-wrapper">
            <div class="events">
                <ol>
                    {% for item in items %}
                    <li>
                        <a href="#0" data-date="{{ item.date|date('d/m/Y') }}" {% if item.date == selectedDate %}class="selected"{% endif %}>
                            {{ item.title }}<br/><br/>
                            <i class="fa fa-calendar-o" style="font-size: 14pt"></i>
                            <span style="font-size: 8pt; margin-left: -18px; padding-top: 2px">{{ item.date|date('d') }}</span>
                            <div>{{ item.date|date('M') }}</div>
                            <div style="position: absolute; padding-top: 10px; bottom: -32px" title="{{ item.description }}">
                                {{ item.title }}
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ol>

                <span class="filling-line" aria-hidden="true"></span>
            </div> <!-- .events -->
        </div> <!-- .events-wrapper -->

        <ul class="cd-timeline-navigation">
            <li><a href="#0" class="prev inactive">Prev</a></li>
            <li><a href="#0" class="next">Next</a></li>
        </ul> <!-- .cd-timeline-navigation -->
    </div> <!-- .timeline -->

    <div class="events-content" style="display: none">
        <ol>
            {% for item in items %}
            <li {% if item.date == selectedDate %}class="selected" {% endif %}data-date="{{ item.date|date('d/m/Y') }}">
                <p>{{ item.description }}</p>
            </li>
            {% endfor %}
        </ol>
    </div> <!-- .events-content -->
</section>
