{% block content %}
    <div id="widget-{{ widget.id }}" class="panel panel-default widget-panel">
        <div class="panel-heading widget-panel-title" style="">
            <span>
                {{ widget.title|length > 22 ? widget.title[:22] ~ '...' : widget.title }}
            </span>

            <div class="btn-group pull-right" style="cursor: pointer">
                <span alt="Menu" title="Menu" class="fa fa-bars" data-toggle="dropdown" aria-expanded="false"></span>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <!-- Edit Button -->
                    <li>
                        <a href="{{ path('widgets_edit', {id: widget.id}) }}">
                            <i class="fa fa-edit fa-fw"></i> Edit
                        </a>
                    </li>
                    <li>
                        <a href="javascript:disableWidget({{ widget.id }})">
                            <i class="fa fa-eye-slash fa-fw"></i> Disable
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="widget-{{ widget.id }}-body" class="panel-body widget-panel-body">
            <div class="widget-icon">
                <i class="fa fa-bar-chart"></i>
            </div>
            <h3><span id="widget-value-{{ widget.id }}">###</span></h3>
            <span id="sparkline-{{ widget.id }}"></span>
        </div>
    </div>

    <script>
        var activityLine{{ widget.id }} = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];
        // ======================================
        // Ajax request to get widget data
        // ======================================
        addDataRequest('{{ path('jira-count-ajax') }}', {'id': {{ widget.id }}}, function (data) {
            var response = JSON.parse(data);
            $('#widget-value-{{ widget.id }}').hide('blind',null,function(){
                $('#widget-value-{{ widget.id }}').html(response['count']).show('blind');
            });

            // Sparkline Charts
            activityLine{{ widget.id }}.shift();
            activityLine{{ widget.id }}.push(response['count']);
            $("#sparkline-{{ widget.id }}").sparkline(activityLine{{ widget.id }}, {
                type: 'line',
                tooltipFormat: '{{ '<i style="color: {{color}}" class="fa fa-circle"></i>&nbsp;{{y}}&nbsp;&nbsp;&nbsp;&nbsp;<br/>&nbsp;' }}'
            });
        });
    </script>

{% endblock %}