<div id="widget-{{ widget.id }}" data-id="{{ widget.id }}" style="clear:both;" class="widget-item">
    {% set config = widgetService.getWidgetConfig(widget.type, widget.id) %}
    <h3 class="dashboard-separator" ondblclick="location.href='{{ path('widgets_edit', {id: widget.id}) }}'">
        {% if (config) %}<i class="{{ config.icon }}"></i>{% endif %}
        {{ widget.title }}
    </h3>
</div>