{{ '{% extends "::base.html.twig" %}' }}
{{ '{% block body %}' }}
<div class="container">
    <div class="page-header">
        <h1>Welcome to <strong>{{ '{{ bundleName }}' }}</strong> index</h1>
    </div>
    <p>Please place here your page content.</p>
</div>
{{ '{% endblock %}' }}
