{{ '{% extends "' }}{{ bundle }}{{ '::layout.html.twig" %}' }}

{% block content %}
{{ "{% block content -%}" }}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="page-header">
        <h1>{{ entity }} list</h1>
    </div>

    {%- if 'new' in actions %}
        <div>
            <button type="button" class="btn btn-primary" onclick="location.href='{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}'">
                <i class="fa fa-plus"></i> Create a new entry
            </button>
        </div><br/>
    {%- endif %}

    <table class="table table-striped">
        <thead>
            <tr>
            {%- for field, metadata in fields %}

                <th>{{ field|capitalize }}</th>

            {%- endfor %}

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {{ '{% for entity in entities %}' }}
            <tr>

        {%- for field, metadata in fields %}
            {%- if loop.first and ('show' in actions) %}

                <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

            {%- elseif metadata.type in ['date', 'datetime'] %}

                <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

            {%- else %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            {%- if loop.last %}

                <td>
                    {%- if 'edit' in actions %}
                        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}"><i class="fa fa-edit"></i> Edit</a>
                    {%- endif %}
                </td>

            {%- endif %}
        {%- endfor %}

            </tr>
        {{ '{% endfor %}' }}
        </tbody>
    </table>

</div>
{{ "{% endblock %}" }}
{% endblock content %}
