{% extends "MetricsBundle::layout.html.twig" %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1><i class="fa fa-plug"></i> Service Provider</h1>
        </div>

        <div>
            {% for key,item in provider %}
            <div title="{{ item.name }}" class="pull-left" style="position: relative">
                <a href="{{ path(item.action) }}">
                    <img {% if item.connected is not defined %}style="opacity: 0.3;"{% endif %} src="{{ asset(item.icon) }}" />
                </a>
                <div style="position: absolute; font-size: 36pt; top: 140px; right: -5px;">
                {% if item.connected is defined %}
                    {% if item.connected %}
                        <i class="fa fa-check-circle"></i>
                    {% else %}
                        <span title="Connection error. Please check your credentials." style="color: #b80429;">
                            <i class="fa fa-times-circle"></i>
                        </span>
                    {% endif %}
                {% else %}
                    <i class="fa fa-unlink"></i>
                {% endif %}
                </div>
                <div style="padding-top: 10px; text-align: center">
                    <a href="{{ path(item.action) }}" class="btn btn-default">
                        <i class="fa fa-cog"></i> Setup {{ item.name }}
                        {% if item.connected is not defined %}
                            ...
                        {% endif %}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="clearfix"></div>

        <br/>
        <br/>

        <a href="{{ path('home') }}">
            <i class="fa fa-arrow-circle-left"></i> Back to dashboard
        </a>

    </div>
{% endblock %}