{% extends "MetricsBundle::layout.html.twig" %}

{% block content -%}
<div class="container">
    <div class="page-header">
        <h1>JiraCountConfig list</h1>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Icon</th>
                <th>Jql_query</th>
                <th>History</th>
                <th>Happy_expression</th>
                <th>Unhappy_expression</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('jiracountconfig_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.icon }}</td>
                <td>{{ entity.jqlquery }}</td>
                <td>{{ entity.history }}</td>
                <td>{{ entity.happyexpression }}</td>
                <td>{{ entity.unhappyexpression }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('jiracountconfig_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('jiracountconfig_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>    <div>
        <button type="button" class="btn btn-primary" onclick="location.href='{{ path('jiracountconfig_new') }}'">
            Create a new entry
        </button>
    </div></div>
{% endblock %}
