{% extends "MetricsBundle::layout.html.twig" %}

{% block content -%}
<div class="container">
    <div class="page-header">
        <h1>JiraCountConfig</h1>
    </div>

    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ entity.label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ entity.icon }}</td>
            </tr>
            <tr>
                <th>Jql_query</th>
                <td>{{ entity.jqlquery }}</td>
            </tr>
            <tr>
                <th>History</th>
                <td>{{ entity.history }}</td>
            </tr>
            <tr>
                <th>Happy_expression</th>
                <td>{{ entity.happyexpression }}</td>
            </tr>
            <tr>
                <th>Unhappy_expression</th>
                <td>{{ entity.unhappyexpression }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('jiracountconfig') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('jiracountconfig_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
{% endblock %}
