{% extends "MetricsBundle::layout.html.twig" %}

{% block content -%}
<div class="container">
    <div class="page-header">
        <h1>Widgets list</h1>
    </div>

    <div>
        <button type="button" class="btn btn-primary" onclick="location.href='{{ path('widgets_new') }}'">
            <i class="fa fa-plus"></i> New widget
        </button>
    </div><br/>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Type</th>
                <th>Dashboard</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="{{ path('widgets_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.dashboard.title }}</td>
                <td>{% if entity.enabled==1 %}<i class="fa fa-check-circle"></i>{% endif %}</td>
                <td>
                    <a href="{{ path('widgets_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i> Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('home') }}">
        <i class="fa fa-arrow-circle-left"></i> Return to dashboard
    </a>
</div>
{% endblock %}
