{% extends "MetricsBundle::layout.html.twig" %}

{% block content -%}
<div class="container">
    <div class="page-header">
        <h1>
            <i class="fa fa-puzzle-piece fa-fw"></i> Widgets list
            <button type="button" class="btn btn-primary pull-right" onclick="location.href='{{ path('widgets_new', {'dashboardId': tab_items[index].id}) }}'">
                <i class="fa fa-plus"></i> Add widget
            </button>
        </h1>
    </div>

    <ul class="nav nav-tabs">
        {% for item in tab_items %}
        <li role="presentation" {% if index == loop.index0 %}class="active"{% endif %}>
            <a href="{{ path('widgets_list', {'index': loop.index0}) }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Type</th>
                <th>Dashboard</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="{{ path('widgets_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.dashboard.title }}</td>
                <td>{% if entity.enabled==1 %}<i class="fa fa-check-circle"></i>{% endif %}</td>
                <td>
                    <a href="{{ path('widgets_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i> Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('home') }}">
        <i class="fa fa-arrow-circle-left"></i> Return to dashboard
    </a>
</div>
{% endblock %}
