{% if entities %}
<li>
    <form action="{{ path('params_save') }}" method="post" accept-charset="UTF-8">
        <input name="dashboardId" type="hidden" value="{{ dashboardId }}"/>
        {% for entity in entities %}
        <div class="form-group">
            <label for="dashboard_param_{{ entity.id }}">{{ entity.label }}:</label>
            {% if entity.type == 'date' %}
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-calendar"></i>
                <input id="dashboard_param_{{ entity.id }}" name="dashboard_params[{{ entity.id }}]" type="text" placeholder="Date" class="form-control datepicker" value="{{ paramsService.getValue(entity) }}"/>
            </div>
            {% else %}
            <input id="dashboard_param_{{ entity.id }}" name="dashboard_params[{{ entity.id }}]" class="form-control" type="{{ entity.type }}" value="{{ entity.value }}"/>
            {% endif %}
        </div>
        {% endfor %}
        <div class="form-group" style="padding-top: 15px;">
            <button type="submit" class="btn btn-primary btn-group-justified">
                <i class="fa fa-check"></i> Apply
            </button>
            <small>
                <center style="padding-top: 6px;">
                    <a href="{{ path('dashboard_edit', {id: dashboardId}) }}"><i class="fa fa-pencil"></i> Edit filter</a>
                </center>
            </small>
        </div>
    </form>
</li>
{% else %}
<li style="padding-bottom: 10px;">
    <button class="btn btn-primary btn-group-justified" onclick="location.href='{{ path('dashboard_edit', {id: dashboardId}) }}';">
        <i class="fa fa-cogs"></i> Setup filter
    </button>
</li>
{% endif %}
