{% if entities %}
<li>
    <form id="dashboard-params-form" action="{{ path('params_save') }}" method="post" accept-charset="UTF-8">
        <input name="dashboardId" type="hidden" value="{{ dashboardId }}"/>
        {% for entity in entities %}
        <div class="form-group">
            <label for="dashboard_param_{{ entity.id }}">
                {{ entity.label }}
                <i class="fa fa-info-circle text-info" data-placement="left" data-toggle="popover" data-content="Please insert <b>%{{ entity.placeholder }}%</b> as placeholder for <i>{{ entity.label }}</i> at your widget settings."></i>
            </label>
            {% if entity.type == 'date' %}
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-calendar"></i>
                <input id="dashboard_param_{{ entity.id }}" name="dashboard_params[{{ entity.id }}]" type="text" placeholder="Date" class="form-control datepicker" value="{{ paramsService.getValue(entity) }}"/>
            </div>
            {% else %}
            <input id="dashboard_param_{{ entity.id }}" name="dashboard_params[{{ entity.id }}]" class="form-control" type="{{ entity.type }}" value="{{ paramsService.getValue(entity) }}"/>
            {% endif %}
        </div>
        {% endfor %}
        <div class="form-group" style="padding-top: 15px;">
            <button type="submit" class="btn btn-primary btn-group-justified">
                <i class="fa fa-check"></i> Apply
            </button>
            <small>
                <div style="text-align: center; padding-top: 6px;">
                    &nbsp;
                    <a href="{{ path('dashboard_edit', {id: dashboardId}) }}"><i class="fa fa-pencil"></i> Edit</a>
                    &nbsp;
                    <a href="javascript:$('#dashboard-params-form').trigger('reset');"><i class="fa fa-undo"></i> Reset</a>
                </div>
            </small>
        </div>
    </form>
</li>
{% else %}
<li style="padding-bottom: 10px;">
    <button class="btn btn-primary btn-group-justified" onclick="location.href='{{ path('dashboard_edit', {id: dashboardId}) }}';">
        <i class="ion ion-android-options"></i> Setup parameter
    </button>
</li>
{% endif %}
