{% extends "MetricsBundle::templates/default-widget.html.twig" %}

{% block widget_body %}
    <i id="widget-icon-{{ widget.id }}" class="widget-icon"></i>
    <h3><span id="widget-value-{{ widget.id }}">###</span></h3>
    <span id="sparkline-{{ widget.id }}"></span>

    <div class="widget-footer-line">
        <span id="widget-link-{{ widget.id }}" style="font-size: 12px">
            <a><i class="fa fa-arrow-circle-right"></i> More info</a>
        </span>
    </div>
{% endblock %}

{% block script %}
    <script>
        var activityLine{{ widget.id }} = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];

        addDataRequest('{{ path('JiraCountWidgetBundle-collect-data') }}', {id:{{ widget.id }}, type:'{{ widget.type }}'}, function (data) {
            var response = JSON.parse(data);

            // Set warning
            if (response['warning']) {
                var value = '<div class="widget-value-warning"><i class="fa fa-warning"></i> '
                        + response['warning'] + '</div>';
                $('#widget-value-{{ widget.id }}').html(value);
                $('#widget-link-{{ widget.id }}').html('');
                return;
            }

            // Set value
            $('#widget-value-{{ widget.id }}').hide('blind',null,function() {
                var value = '';

                // Set value
                if (response['value']) {
                    value =  response['value'];
                }

                // Set subtext
                if (response['subtext']) {
                    value = value + '<div class="widget-value-subtext">' + response['subtext'] + '</div>';
                }

                // Set warning
                if (response['warning']) {
                    value = value + '<div class="widget-value-warning"><i class="fa fa-warning"></i> '
                        + response['warning'] + '</div>';
                }

                $('#widget-value-{{ widget.id }}').html(value).show('blind');
            });

            // Set icon
            $('#widget-icon-{{ widget.id }}').attr('class', 'widget-icon '+response['icon']);

            // Set more info link
            $('#widget-link-{{ widget.id }}').html(
                    '<a href="' + response['link']
                    + '" target="_blank"><i class="fa fa-arrow-circle-right"></i> More info'
                    + '</a>'
            );

            // Sparkline Charts
            activityLine{{ widget.id }}.shift();
            activityLine{{ widget.id }}.push(response['value']);
            $("#sparkline-{{ widget.id }}").sparkline(activityLine{{ widget.id }}, {
                type: 'line',
                tooltipFormat: '{{ '<i style="color: {{color}}" class="fa fa-circle"></i>&nbsp;{{y}}&nbsp;&nbsp;&nbsp;&nbsp;<br/>&nbsp;' }}'
            });
        });
    </script>
{% endblock %}