{% extends "MetricsBundle::layout.html.twig" %}

{% block content -%}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="page-header">
        <h1>Dashboard list</h1>
    </div>
    <div>
        <button type="button" class="btn btn-primary" onclick="location.href='{{ path('dashboard_new') }}'">
            <i class="fa fa-plus"></i> Add dashboard
        </button>
    </div>
    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Pos</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="{{ path('dashboard_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.pos }}</td>
                <td>
                    <a href="{{ path('home', { 'id': entity.id }) }}"><i class="fa fa-dashboard"></i> View</a>
                    &nbsp;&nbsp;
                    <a href="{{ path('dashboard_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i> Edit</a>
                    &nbsp;&nbsp;
                    <a href="{{ path('dashboard_export', { 'id': entity.id }) }}"><i class="fa fa-download"></i> Export</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('home') }}">
        <i class="fa fa-arrow-circle-left"></i> Return to dashboard
    </a>
</div>
{% endblock %}
