{% extends "MetricsBundle::layout.html.twig" %}

{% block content -%}
    {#== Copy Dialog =====================================================================================#}
    {% set content %}
        <form id="copy-form" method="post" action="{{ path('dashboard_copy') }}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="copy-title">Title</label>
                <input id="copy-title" name="title" type="text" class="form-control" required="required">
            </div>
            <input id="copy-id" type="hidden" name="id" value="">
        </form>
    {% endset %}
    {% include 'MetricsBundle::Templates/modal.html.twig' with {'id': 'copy-modal', 'title': 'Copy Dashboard', 'submit': 'Copy', 'content': content} only %}
    {# END dialog #}
    <!-- Upload Dialog -->
    {% set content %}
        <form id="upload-form" method="post" action="{{ path('dashboard_import') }}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="filebutton-upl" class="control-label">File</label>
                <input id="filebutton-upl" name="file[]" multiple="multiple" type="file" class="filestyle" data-buttonText="Select file" data-iconName="glyphicon-import" data-input="true" data-buttonName="btn-default">
            </div>
        </form>
    {% endset %}
    {% include 'MetricsBundle::Templates/modal.html.twig' with {'id': 'upload-modal', 'title': 'Import', 'submit': 'Import', 'content': content} only %}

    <div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="page-header">
        <h1>
            <i class="fa fa-dashboard"></i> Dashboard list
            {% if aclService.userHasUrlAccess(path('dashboard_new')) and not licenseService.limitReached('Dashboard') -%}
            <button type="button" class="btn btn-primary pull-right" onclick="location.href='{{ path('dashboard_new') }}'">
                <i class="fa fa-plus"></i> Add
            </button>
            <div class="pull-right">&nbsp;</div>
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#upload-modal">
                <i class="glyphicon glyphicon-import"></i> Import
            </button>
            {% endif %}
        </h1>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="dashboard-items">
        {% for entity in entities %}
            <tr data-id="{{ entity.id }}">
                <td><i id="dragicon" class="ion ion-drag" style="cursor: move"></i>&nbsp; <a href="{{ path('dashboard_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>
                    <a href="{{ path('home', { 'id': entity.id }) }}"><i class="fa fa-dashboard"></i> View</a>
                    &nbsp;&nbsp;
                    <a href="{{ path('dashboard_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i> Edit</a>
                    &nbsp;&nbsp;
                    {% if aclService.userHasUrlAccess(path('dashboard_copy')) and not licenseService.limitReached('Dashboard') -%}
                    <a href="javascript: copyDashboard({{ entity.id }}, '{{ entity.title }}')"><i class="fa fa-copy"></i> Copy</a>
                    &nbsp;&nbsp;
                    {% endif %}
                    <a href="{{ path('dashboard_export', { 'id': entity.id }) }}"><i class="fa fa-download"></i> Export</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('home') }}">
        <i class="fa fa-arrow-circle-left"></i> Return to dashboard
    </a>
</div>
{% endblock %}

{% block js %}
    <link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet" media="screen">
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>

    <script>
        /**
         * Copy dashboard.
         *
         * @param id
         * @param title
         */
        function copyDashboard(id, title)
        {
            $('#copy-title').val(title + ' - copy');
            $('#copy-id').val(id);
            $('#copy-modal').modal();
        }

        $(document).ready(function() {
            $( "#dashboard-items" ).sortable({
                axis: "y",
                cursor: "move",
                //containment: "parent",
                handle: "#dragicon",
                update: function(event, ui) {
                    var items = $(this).sortable('toArray', {attribute: 'data-id'}).toString();
                    $.post('{{ path('dashboard_reorder') }}', {'id_list': items}).done(function(data){});
                }
            }).disableSelection();
            $( "#dashboard-items" ).sortable('enable');
        });

    </script>
{% endblock %}