{% block content %}
<div id="widget-{{ widget.id }}" data-id="{{ widget.id }}" class="panel panel-default widget-panel">
    <div class="panel-heading widget-panel-title">
        <span>
            {{ widget.title|length > 22 ? widget.title[:22] ~ '...' : widget.title }}
        </span>
        <span id="widget-title-suffix-{{ widget.id }}"></span>

        <div class="btn-group pull-right" style="cursor: pointer">
            <span alt="Menu" title="Menu" class="fa fa-bars" data-toggle="dropdown" aria-expanded="false"></span>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <!-- Edit Button -->
                <li>
                    <a href="{{ path('widgets_edit', {id: widget.id}) }}">
                        <i class="fa fa-edit fa-fw"></i> Edit
                    </a>
                </li>
                <li>
                    <a href="{{ path(widgetService.getWidgetEditActionName(widget.type), {id: widget.id}) }}">
                        <i class="fa fa-cog fa-fw"></i> Config
                    </a>
                </li>
                <li>
                    <a href="javascript:disableWidget({{ widget.id }})">
                        <i class="fa fa-eye-slash fa-fw"></i> Disable
                    </a>
                </li>
                {% block menue_items %}{% endblock %}
            </ul>
        </div>
    </div>

    <div id="widget-{{ widget.id }}-body" class="panel-body widget-panel-body">
        {% block widget_body %}{% endblock %}
    </div>

    {% block script %}{% endblock %}
</div>
{% endblock %}